<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233627008306-ei6el3qo8obehp0d3n3fobtsrueogvc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233627008306-ei6el3qo8obehp0d3n3fobtsrueogvc4</string>
	<key>API_KEY</key>
	<string>AIzaSyCRqRdHY97RE8q1_fRW47ozft4iLJcLgS8</string>
	<key>GCM_SENDER_ID</key>
	<string>233627008306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sp.Cloud9-esports</string>
	<key>PROJECT_ID</key>
	<string>cloud9esports-f0e02</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud9esports-f0e02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233627008306:ios:ef601eed6e8d6ea8686b2b</string>
</dict>
</plist>